* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif ;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.Flex-Col {
    flex-direction: column;
}

.Space-BTW {
    justify-content: space-between;
}

.Flex {
    display: flex;
}

.Col {
    display: flex;
    justify-content: center;

        /* DEBUG */
    background-color: rgb(255, 157, 157);
    border: 3px solid black;
}

.V-Card {
    background-color: brown;
    margin: 3%;
    border: 1px solid black;
    width: 30%;
}

.H-Card {
    background-color: brown;
    margin: 1% 3%;
    border: 1px solid black;
    width: 100%;
}

.Width100 {
    width: 100%;
}

.Width80 {
    width: 80%;
}

.Width70 {
    width: 70%;
}

.Width60 {
    width: 60%;
}

.Width50 {
    width: 50%;
}

.Width40 {
    width: 40%;
}


.Left-Align {
    text-align: left;
}

.Margin1 {
    margin: 1%;
}

.Margin5 {
    margin: 5%;
}

.padding2-0 {
    padding: 2% 0;
}

ul {
    list-style-type: none;
}

.Blue-Square {
    background-color: blue;
    color: white;
    padding: 8px;
}

.White-Square {
    background-color: rgb(255, 255, 255);
    padding: 2% 8%;
}

.No-Link {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 6vw;
    font-weight: 600;
}

h2 {
    font-size: 3vw;
    padding: 1%;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

i {
    margin-right: 2%;
}

hr {
    border: 1px solid black;
}


/* HEADER */

header {
    display: flex;
    z-index: 10;
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 40px
}


.Header-Col {
    display: flex;
    align-items: center;

     /* DEBUG */
}

.Header-Col img {
    width: 30%;
    height: 30%;
    padding: 0 10px;
}

.Header-Col ul {
    display: flex;
}

.Header-Col li {
    padding: 0 10px;
    font-size: 90%;
}


/* MAIN */


/* HERO */

.Hero-Container {
    display: flex;
    width: 100%;
    justify-content: center;

    /* DEBUG */
}

.Hero-Card {
    display: flex;

     /* DEBUG */
}

.Hero-Card h1 {
    text-align: left;
}

.Left-Hero {
    width: 40%;
}

.Left-Hero div {
    font-size: 130%;
    margin-bottom: 20px;
}

.Left-Hero .Blue-Square {
    margin-bottom: 5%;
}

.Right-Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.Right-Hero img {
    top: 0;
    left: 0;
}

.Hero-Text {
    padding: 5% 0;
}

.Arrow-Down {

}

.Arrow-Down i {
    font-size: 6vh;
    padding-top: 25% ;
}


/* BUSINESS PLAN */ 

.Radio-Business {
    display: flex;
    padding-right: 10%;
    font-size: 2vw;
    padding-top: 5%;
    padding-bottom: 5%;

}

.Top-Card {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    font-size: 1.5vw;
}

.Inner-H-Card {
    background-color: brown;
    margin: 2%;
}

/* DROPBOX PARTNER */

.Partner-Card {
    display: flex;
    background-color: brown;
    width: 100%;
    margin: 5% 0;

    /* DEBUG */

}

.DB-Card {

    border: 1px solid black;
}



/*BUSINESS CARD PATTERN*/

.Card {
    display: flex;
    background-color: brown;
    width: calc(100%/3);

    /* DEBUG */
    border: 1px solid black;
}


/* 500k */

/* AGENCY LOGOS */

.TB-Card-Inside {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.TB-Card-Inside img {
    filter: invert(100%);
    padding: 25%;
}

.Card-Inside {
    display: flex;
    flex-wrap: nowrap;
    background-color: aqua;
    border: 1px solid black;
    height: 50%;
    width: 100%;
}


/* QUESTIONS */

.Questions {
    position: relative;
}

.Questions .Show {
    position: relative;
    font-size: 1vw;
    padding: 3% 0;
}

.Questions .Hide:hover {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    padding-top: 5%;
}

.Questions i {
    position: absolute;
    right: 0;
}

.Hide {
    display: flex;
    height: 100%;
    position: absolute;
    color: rgba(0, 0, 0, 0);
    border: 1px slid black;
    
}



/* FOOOOOTER */

FOOTER {
    background-color: black;
}

.Footer-Card {
    background-color: aqua;
    border: 1px solid black;
    width: calc(100%/5);
    height: 80%;
    margin: 3%;

    /* DEBUG */
    height: 300px;
}